[2015-05-28 01:32] crichID opened #25 "Create page type for non-verified labs"
Per discussion in #14 and based on several other modules, we will need to have a page that looks similar to a lab but can take un-verified tasks. As learners progress through the course, there are many hands on activities that will be completed locally that cannot be verified. We still need a way to give learners these instructions.

[2015-05-29 15:32] PeterBell commented on #25
We have a structure for this. If you could put in real content into at least one lab and let me know and I'll merge it in and see how the import goes

[2015-05-29 17:22] PeterBell commented on #25
Gonna close this - we now have these in the yaml. If there are bugs or issues in import or display @iwz will fix them :)

[2015-05-29 17:22] #25 closed

[2015-05-29 20:34] PeterBell opened #48 "Sample screencast required"
Hey @crichid I'm just going to shoot a handful of simple screencasts so people can get a sense of what the flow will be like for this - I'll shoot them over the weekend and get them uploaded before Monday

[2015-05-29 20:36] PeterBell opened #49 "Images required"
Hey @crichID could you work with the team to start to replace the placeholder image we're currently using for most of the slides with real images? Obviously it isn't required to start getting feedback, but I'd love to make this as realistic as possible ASAP so we can really start to dig into the full end user experience and open this up to some non-GitHub beta-users over the next week or two.

[2015-05-29 20:37] PeterBell opened #50 "Discussion of feedback on the platform"
This is the first real course, so @crichID as you get feedback from anyone on improvements we could make to the platform, please ask them to add it to the conversation here.

[2015-05-29 20:38] PeterBell opened #51 "Discussion of feedback on the curriculum"
Wanted to just create a placeholder for a discussion about the curriculum. Feel free to submit PR's modifying the yaml directly, but especially for anything we should be discussing, feel free to start the discussions here and we can break them out into separate issues if they're not easily resolved.

[2015-06-03 21:14] crichID commented on #49
Very happy to close this bad boy out! Now we just need videos

[2015-06-03 21:14] #49 closed

[2015-06-11 00:59] loranallensmith opened #70 "Video Content Details"
As we ready ourselves to add our video content to these modules, I had a few questions I've been wrestling with.

### Synchronizing Content
I am wondering if we need to have a system in place for updating video content to match any changes to the curriculum.  @PeterBell and @crichID, do either of you anticipate changes to the narration in the modules that will require the video content to be updat

[2015-06-11 02:45] PeterBell commented on #70
Hey @loranallensmith I'll leave the first question to @crichID although I'm guessing the text (and video) will have to change every so often (less as we 'burn in' the content).

Right now the videos pull from either vimeo or youtube. Open to anything sane. Reluctant to get into video hosting business unless there's a compelling reason so I'd suggest a vimeo pro account for the olayer and analytics

[2015-06-11 23:52] crichID commented on #50
@PeterBell this seemed like a better solution than email for this conversation so all could see. If there are questions, we can more easily discuss below:
- [ ] We need a way to separate screen navigation instructions from general text that appears in polls. For example, on the bottom of the first poll page, there is a message that says "Thanks for your response. You may continue to the next scree

[2015-06-12 00:49] crichID commented on #70
@loranallensmith I have a mess of changes to push based on today's call, but after that I think we need to limit changes to only those things that are wrong. Having your :eyes: on the scripts as you record them will help with this quite a bit.

That said, I am going to mark CONT-01 - CONT -035 as "do not change unless absolutely necessary" from this point on and will continue to do the same for vi

[2015-06-12 05:25] matthewmccullough commented on #50
CC @PatrickBM @jaw6 @brntbeer @loranallensmith @jordanmccullough

[2015-06-12 14:53] loranallensmith commented on #70
@crichID Sounds good!  I'm definitely :cool: with making changes as we continue to shape the curriculum, so please don't feel pressured to lock anything down just for the videos. :smiley_cat:  I will  keep my :eyes: peeled for things as I review the scripts when recording too. :+1:

For sure @PeterBell!  I think Vimeo and YouTube are the way to go.  I really :heart: the idea of getting those analy

[2015-06-13 01:58] crichID commented on #70
@loranallensmith I am torn. Part of me wants to limit them to students inside Certify, the other parts says it won't hurt anything if someone is searching for creating branches and stumbles on a curriculum video. Maybe we can touch base about this on Monday. I am all about reusability of these and would like to hear your thoughts as well.

[2015-06-19 18:16] loranallensmith commented on #70
### Following up on a :jeans: chat with @crichID today:

It sounds like the plan is to keep the video content locked down for now -- insofar as much as YouTube and Vimeo will support.  If we want to open them up to the general public later on, both sites give us the ability to do this with relative ease.

If we are hosting the videos on YouTube, we can classify them as "unlisted" so they're still

[2015-06-19 18:30] matthewmccullough commented on #70
Related: https://github.com/github/training-team/issues/961 (four topic rotation)

I see the value as:

- Customer get used to the rhythm and are better able to join or book the time (like our monthly open enrollment)
- Anytime we can help make something more rhythmic, it leaves more creative brain power for the content
- These review classes continue to be great sources of 1. topic explorations 2

[2015-06-19 20:39] matthewmccullough commented on #70
My observations:
- YouTube analytics are much better
- Vimeo has a better embed
- YouTube is more likely than Vimeo to be blocked at some companies and universities, but only by a little bit
- I would never put a customer-private class video on YouTube (I think we all agree on this) and the one-password approach to Vimeo sharing
- No harm if folks "accidentally" watch or discover the unlisted curr

[2015-06-22 19:49] loranallensmith commented on #70
Thanks for everyone's input on this.  It sounds like YouTube is the way to go for now -- the value of the analytics outweigh the slickness of Vimeo's embed.  We'd just need to be sure to keep the curriculum videos unlisted for now.  Even if the videos aren't as interesting out of context, I'd still hate for customers to feel like we might be charging them for something that's freely available.  Th

[2015-06-22 19:49] #70 closed

[2015-06-22 19:51] loranallensmith opened #78 "Admin access to Certify"
Hey @PeterBell!

Apologies, as I missed the :boat: when everyone was getting added.  I believe my account is still set up as a general user or student in Certify.  Would it be possible for me to be promoted to an admin?

[2015-06-23 15:25] PeterBell commented on #78
Just made you an admin @loranallensmith :smile:

[2015-06-24 15:09] loranallensmith commented on #78
Woo!  I'm in. :tada:  Thanks a bunch, @PeterBell! :metal:

[2015-06-24 15:09] #78 closed

[2015-07-08 03:09] loranallensmith opened #86 "Editing Local Files - Trouble Switching Branches"
I'm not sure if this is the right place to open this particular Issue, so definitely let me know if this thread should live somewhere else. :smiley:

In the module [`CONT-CLI-03_Editing-local-files.yml`](https://github.com/certify/curriculum-github/blob/master/modules/CONT-CLI-03_Editing-local-files.yml), the demonstration instructions say that you should check out the `master` branch after making

[2015-07-08 03:46] crichID commented on #86
@loranallensmith so, the problem is that we are trying to compare the branches before we have committed our changes to the branch. I can switch branches without stashing, but the modified file comes with me to the new branch so it still messes up the learning point. Really, this whole bit about switching branches to see the changes needs to be moved to the end of the video for CONT-CLI-04. I will

[2015-07-08 04:28] loranallensmith commented on #86
@crichID I think you read my mind on this one. :smiley_cat:   I nearly PRed that exact change to the curriculum tonight, but I didn't want to do anything too drastic on my own. :see_no_evil:

I think I can make everything work with the videos. :+1:

[2015-07-08 20:29] #86 closed

[2015-07-23 15:14] johnpaulashenfelter opened #93 "Bio poll is case-sensitive"
@ari97 reported and many verified that the question about Issue 3  where /bio/ is the answer is needlessly case sensitive. Updating the regex should fix it.

[2015-07-23 15:40] ari97 opened #94 "FirstName-Lastname Branch lab has misleading phrase."
In order to eliminate any possible confusion, the lab where a branch must be created in Section 2, slide 4/16, the phrase "Create a branch in the repo named firstname-lastname", should be changed to "Create a branch in your repo and name it firstname-lastname using your first and last name"

[2015-07-25 01:29] kkemple opened #95 "curriculum should be event type agnostic"

[2015-07-25 01:34] kkemple opened #96 "Change "Bio" label to "bio" to match GH labels"
bio is referenced a lot in lowercase and GH default labels are lowercase, text in lab about using issues should match that

[2015-07-25 02:39] kkemple opened #99 "instructions for create file lab unclear"

[2015-07-25 02:52] kkemple opened #101 "add hint about fixes keyword in GH to merge PR lab"

[2015-07-25 02:57] kkemple opened #103 "cloning a repository lab has duplicate steps"

[2015-07-25 03:08] kkemple opened #105 "regex for git command quiz broken"

[2015-07-27 12:56] #96 closed

[2015-07-27 13:02] #99 closed

[2015-07-27 13:14] #105 closed

[2015-07-27 13:14] #93 closed

[2015-07-27 13:31] #101 closed

[2015-07-27 13:32] #94 closed

[2015-09-02 15:33] crichID opened #132 "Medium Priority Updates"
This issue will catalog any medium priority updates that need to occur in the curriculum. I would not consider these :construction: blockers to :money_with_wings: the course, but they should be addressed in the near term.

[2015-09-02 15:35] crichID commented on #132
- [ ] Right now the validation for all items is mostly y/n. In the case of this lab, the user can actually edit a file on the wrong PR and still receive a "correct" notification in the course. @johnpaulashenfelter indicated this is already on the backlog.

![screenshot 2015-09-02 10 57 02](https://cloud.githubusercontent.com/assets/9950121/9635879/830f79dc-5166-11e5-9b42-2671e21ced3c.png)

[2015-09-02 15:37] crichID commented on #132
- [x] we recommend that Windows users download and use the bash emulator instead of `CMD.exe` we should update the instructions on [this page](https://learn.wheelhouse.io/events/MMKb2q7HUthUuXUbpZSh/screens/166) accordingly:

![screenshot 2015-09-02 11 30 28](https://cloud.githubusercontent.com/assets/9950121/9635941/d0524bd4-5166-11e5-8284-7969b75d9e41.png)

[2015-09-02 15:40] crichID commented on #132
- [ ] the template repo still has the old README. Need to update to remove the reference to desktop applications in GH for Devs. Also remove the instructions as they are duplicates of what is in the course.

![screenshot 2015-09-02 11 39 07](https://cloud.githubusercontent.com/assets/9950121/9636028/5ffed0c2-5167-11e5-9645-102cbac392f0.png)

[2015-09-02 15:44] crichID commented on #132
- [x] git version in graphic is 2.3.2 but in text it is 2.5. We need to update the graphic but I am also hesitant to specify a version because then we have to maintain it. We should give the minimum version based on the activities in the course.

![screenshot 2015-09-02 11 43 15](https://cloud.githubusercontent.com/assets/9950121/9636135/fe298080-5167-11e5-806f-1772e3eec77c.png)

[2015-09-02 16:11] crichID commented on #132
- [ ] this image doesn't make sense to me.

![screenshot 2015-09-02 12 10 09](https://cloud.githubusercontent.com/assets/9950121/9636832/9eafec9e-516b-11e5-8519-8eafddb1b923.png)

[2015-09-02 16:54] crichID commented on #132
- [x] Is there a word missing in the first bullet here?

![screenshot 2015-09-02 12 54 09](https://cloud.githubusercontent.com/assets/9950121/9637973/c08c9442-5171-11e5-8a96-4fd38c62d921.png)

[2015-09-02 17:00] crichID commented on #132
- [x] we should add the git push-u option to the recap here because it was not covered before and goes by pretty quick in the video

![screenshot 2015-09-02 12 59 33](https://cloud.githubusercontent.com/assets/9950121/9638102/906516bc-5172-11e5-9443-d696ebffc4e7.png)

[2015-09-02 17:03] crichID commented on #132
- [x] remove the first sentence here

![screenshot 2015-09-02 13 02 38](https://cloud.githubusercontent.com/assets/9950121/9638153/f04b276a-5172-11e5-91f5-d4dd7c4cab11.png)

[2015-09-02 18:18] crichID commented on #132
- [x] add instructions to create the badname.md file

![screenshot 2015-09-02 14 17 09](https://cloud.githubusercontent.com/assets/9950121/9640052/77cc2d10-517d-11e5-81d0-df5134315e56.png)

[2015-09-04 14:00] PeterBell commented on #132
Hey @1point618 mind going through these, working on the content ones (getting feedback from @crichID  or myself as required) and hitting up @timlombardo and @johnpaulashenfelter on anything that might require code changes? You're also going to want to @ mention JP on any curriculum PR's. He will then merge them and either import or make updates manually in the db so ensure everything stays in sync

[2015-09-08 12:38] crichID opened #133 "Template Repo Updates"
@johnpaulashenfelter there is some concern from our New User Experience team that creating a PR in the learner's repo is going to pollute our stats. We are no longer using the PR as one of the questions in the course so I think it is safe to delete it. Can I just delete it from the template repo? Or do you need to do something in your script?

[2015-09-08 12:52] crichID opened #134 "Lab Issues"
@johnpaulashenfelter I received feedback from one of our employees as follows:

Her username is `muan` - can you please take a look and see if anything strange is happening?

[2015-09-08 13:11] 1point618 commented on #134
@crichID That is the behavior that we have right now. It's sub-optimal, but until we have better verification built into the app, it's the best we can do. Verification is high on the list of "next fixes" that our PM @timlombardo is putting together, and will be a powerful tool for us education folks to use when building and updating curriculum.

[2015-09-08 13:18] crichID commented on #134
@1point618 Ah, I think I misunderstood what she was saying. So could we at least have it show something like "task marked complete manually" instead of showing "correct" for now? Or is that too much to do as a temporary fix?

[2015-09-08 13:41] 1point618 commented on #134
@timlombardo What do you think, is that an easy copy change or do we need more developer resources for that?

[2015-09-09 03:16] crichID opened #135 "Unable to Jump Between Sections using drop down"
@johnpaulashenfelter some customer feedback from Intuit

[2015-09-09 03:23] crichID opened #136 "New Self-paced Classes Set Up"
@johnpaulashenfelter I'm not sure who I should be sending these requests to. Can someone please set up two self-paced classes as follows:

1. Huawei: this is a customer who is interested in purchasing training and would like to test drive it.
2. "Complimentary class": we have a github superfan who will be teaching some free classes in Africa. We would like to give him access to the course. It woul

[2015-09-09 03:25] crichID opened #137 "Should this repo be private?"
I know we talked about this at one time, but it is still public. @PeterBell what are your thoughts on this?

[2015-09-09 15:51] timlombardo commented on #134
@crichID @1point618 right now, we don't treat the automated completion or the manual completion differently in the system so, unfortunately, there isn't a quick immediate fix. We all agree it should be improved. Labs are the number one priority for improving the student experience. I plan on including this as part of the upcoming lab verification/validation work.

[2015-09-09 16:01] 1point618 commented on #134
@timlombardo Why don't the three of us (me, you, and @crichID) get together before finalizing the lab validation "epic", to make sure we're building it as a way to build tools for me and Cynthia.

[2015-09-09 16:42] timlombardo commented on #134
:+1: let's do that. We should connect on it once we return from the offsite next week.

[2015-09-09 17:50] johnpaulashenfelter commented on #136
@crichID How about we just rename the current class here as the Wheelhouse Preview or some such and let anyone use them for now? That way we don't need to worry about spinning up event-by-event for now.

That will end up mapping where the data's heading for self-serve as well :)

[2015-09-09 17:51] crichID commented on #136
@johnpaulashenfelter that is perfect!

[2015-09-09 22:14] timlombardo commented on #137
I think it's best that we make it private since we're beginning to put feedback from customers and details regarding the platform in the issues (thank you for adding those @crichID!). This will prevent any references to particular customers or users for purposes of diagnosing issues from being public.

[2015-09-09 22:19] PeterBell commented on #137
Hey @johnpaulashenfelter what do we need to do to make this happen? Want to create a private repo on wheelhouse org and kill this?

[2015-09-10 16:06] crichID commented on #136
@johnpaulashenfelter has this been done? I just checked on the event page and it still says Intuit for me!

[2015-09-10 17:56] johnpaulashenfelter commented on #136
Its done. Apologies for the delay.

Should I close this now @crichID or wait for you to do it?

[2015-09-10 18:21] crichID commented on #136
Perfect! Thank you - closing now!

[2015-09-10 18:21] #136 closed

[2015-09-16 19:33] crichID commented on #137
hey @PeterBell and @johnpaulashenfelter what is the status on making this a private repo??

[2015-09-16 21:05] PeterBell commented on #137
Hi @crichID sorry - just back from offsite - I'll get with JP on this first thing tomorrow morning and we'll figure it out!

[2015-09-29 17:02] crichID opened #144 "GH4D: Ecosystem Graphic"
@1point618 we have a challenge with the ecosystem graphic. Some of the companies you included on the graphic are not officially part of the integration directory yet (see the link on the page) which is also being released at Universe. Can we remove the product names for now?

![screenshot 2015-09-29 12 57 52](https://cloud.githubusercontent.com/assets/9950121/10171864/37c45d04-66aa-11e5-8f6e-6975c

[2015-09-29 17:05] crichID commented on #135
@johnpaulashenfelter can you give me some feedback on the status of this fix?

I am running through the course now. I was in section 2 and able to jump back to section 1, but I cannot jump back to section 2 again.

[2015-09-29 17:09] 1point618 commented on #144
I'm sorry @crichID I'm not seeing which companies those are. Did you mean to include a link? Each of the companies on the graphic is listed on this page: https://github.com/integrations

[2015-09-29 17:19] crichID commented on #144
@1point618 they may have been listed on the old page, but they are not on the one that will be released at Universe. It may only be staff shipped right now so that may be why you can't see it.

[2015-09-29 17:20] PeterBell commented on #144
Hey @crichID do we know which companies we need to remove?

[2015-09-29 17:26] crichID commented on #144
@PeterBell if you can't see the page yet then I may not have permission to share that information. I work internally on finding out but I can't guarantee an answer before your deadline so it may be easiest to remove them altogether for now.

[2015-09-29 17:36] PeterBell commented on #144
Hi @crichID a couple of comments:
1. Editing the image this late is going to look bad, and having the image without the company names on the image is just going to look weird. How about we just remove the image from the slide and we'll add it at the next content refresh post universe?
2. This brings up a great general issue which is for us to work with you to ship timely training materials, we're

[2015-10-01 13:13] timlombardo commented on #135
@crichID this is next in our backlog behind email confirmation for purchases (which I am going to be sending manually while we finish it) so I'm hoping the fix gets started today or tomorrow.

[2015-11-02 13:32] 1point618 opened #152 "User wants article view"

[2015-11-02 13:42] 1point618 opened #153 "Sections 7 on are perceived as having less content than the others."

[2015-11-02 13:43] 1point618 opened #154 "User didn't know how to use the app, wants slides explaining it."
...

[2015-11-02 13:50] 1point618 opened #155 "Following instructions while watching a video reloads that video, does not mark step on lab slide completed."

[2015-11-02 13:50] crichID commented on #154
@1point618 where are you pulling the user feedback from? Are you sending a survey?

[2015-11-02 13:53] 1point618 commented on #154
Some of this is from Intercom, some of it is from a friend of @johnpaulashenfelter's who agreed to take the course and give us feedback on it.

[2015-11-02 13:53] PeterBell commented on #154
Hey @crichid this is unsolicited feedback from intercom.io where we're getting ad hoc comments and questions. If you want I could add you so you'd also be able to see comments and respond to qns. Would that be useful? Out of office in an but could get it done early this afternoon - let me know!

[2015-11-02 13:56] 1point618 commented on #154
@crichID Also for what it's worth, while I'm putting together negative feedback for us here,

[2015-11-02 14:00] 1point618 commented on #154
@crichID Sorry I hit "close and comment" when trying to delete what I'd written.

My feelings on this feedback are fairly neutral. Some of it is useful, some of it is not. However, I'm trying to take out _all_ actionable feedback and put it here, so that we can discuss which we as a team agree with, and which we think we can let slide.

I'm sure as things go on we'll find that some people hate X,

[2015-11-02 14:12] crichID commented on #154
@1point618 completely agreed. I was just curious if you guys were sending out a survey of some sort because I was planning to do so.

[2015-11-02 14:23] 1point618 commented on #154
@crichID No survey yet. If you're planning on doing so, I'm perfectly happy with that. Could we talk about the questions to be asked in the 10am meeting just to make sure all our bases are covered?

[2015-11-02 14:37] crichID commented on #154
@1point618 I got a message from @PeterBell that the 10 am meeting was cancelled. I have not created the survey yet so if you have specific questions you would like to ask, please send them over!

[2015-11-02 14:38] 1point618 commented on #154
I'll start another issue about the survey.

[2015-11-02 14:44] 1point618 opened #156 "Send Survey to current Wheelhouse free students."
@crichID has agreed to take charge of sending out a survey to all our free users.

Here are some questions I'd like to be asked to the students:

1. NPS. "On a scale of 1 to 10, how likely are you to recommend this to a friend?"

2. General demographics. How comfortable they already were with Git and GitHub, what their job is, how technical they are, that kind of thing.

3. What's your preferred m

[2015-11-02 15:16] crichID commented on #156
@1point618 do you have an easy way to figure out what each screen is based on the number? I would like to know which screens users are stopping on to get a better feel for how to shape the survey! I created a quick pivot table showing the top 10 "last screens":

![screenshot 2015-11-02 10 15 31](https://cloud.githubusercontent.com/assets/9950121/10885336/c2668418-814a-11e5-8892-f1c9a7d50148.png)

[2015-11-02 15:23] PeterBell commented on #156
Hi @crichID speaking with @johnpaulashenfelter about this right now. He's working on some code that'd generate a manifest and make it easier to tell things like percentage complete from last screen numbers. It's in the hopper for today to get started, but not sure when this week it'll be completed and shipped . . .

[2015-11-02 15:24] PeterBell commented on #154
Hey @crichID @1point618 sorry about me not communicating well about the 10am meeting. Let's circle round elsewhere and find the right frequency and attendees for the right meetings to keep everything aligned and moving forward. I'll get with everyone individually and then propose something . . .

[2015-11-02 15:27] 1point618 commented on #156
@crichID You can also go to

`https://learn.wheelhouse.io/events/early-access/screens/###`

subbing `###` for the number on the table to see exactly where people are dropping. For instance, 476 is the first page (= people who clicked through but didn't actually do any of the course), 482 is the first video (= people who were turned off by having to watch a video?), 480 is the first slide of the se

[2015-11-02 15:29] 1point618 commented on #156
@crichID I think another good question for the questionnaire would be "Why did you sign up for this course?" I imagine we're going to get a bunch of people who just wanted to see it, and had no learning goals at all.

[2015-11-02 15:36] crichID commented on #156
@1point618 ah thank you! I always forget that trick :stuck_out_tongue_winking_eye:

[2015-11-02 15:52] matthewmccullough commented on #156
:sparkles:

[2015-11-02 16:25] 1point618 opened #157 "Include SSH as well as HTTPS for git clone question."
I'm reviewing the "GitHub for developers" course and noticed that "Cloning a Repository" question only accepts an answer for HTTPS (i.e. http://github.com...). It would be great if it could accept both for HTTP and SSH.

`git clone git@github.com:githubteacher/sample-repo.git`

[2015-11-03 16:29] 1point618 opened #158 "Typos!"
Each comment with be its own typo, figured it's easier to keep these all in one place.

[2015-11-03 16:29] 1point618 commented on #158
https://learn.wheelhouse.io/events/early-access/screens/553

[2015-11-03 16:30] 1point618 commented on #158
https://learn.wheelhouse.io/events/early-access/screens/550

[2015-11-03 16:31] 1point618 commented on #158
https://learn.wheelhouse.io/events/early-access/screens/537

[2015-11-03 16:33] 1point618 commented on #158
Hey @johnpaulashenfelter I assigned this to you. No immediate action to take though so maybe that's not the right move? I just know that at the end of the day you're the only one who can fix typos in production.

[2015-11-03 16:34] 1point618 opened #159 "We say we show people how to set a default text editor, then don't do it."
https://learn.wheelhouse.io/events/early-access/screens/537

[2015-11-03 18:22] 1point618 opened #160 "When entering an answer into a question a second time, the feedback is strange."
I'll attach a screenshot (also, don't worry about my experience, I'm doing fine with git, use it all the time, I'm reviewing this to recommend it to my team)

![](https://uploads.intercomcdn.com/i/o/2701173/56022932a28b358921f4aaf1/Screen%2520Shot%25202015-11-03%2520at%252018.23.23.png)

[2015-11-03 18:36] 1point618 opened #161 "Copy on lab steps is confusing"

[2015-11-04 19:19] crichID commented on #156
@1point618 @PeterBell I am working on two distinct surveys. One is for users who have not completed the course. The other is for users who have. I have created https://github.com/githubpartners/wheelhouse/pull/49 in the Partner repo so we can collaborate on the content.

[2015-11-04 19:21] PeterBell commented on #156
Thanks for that @crichID  - perfect - looking through now. Will respond this pm!

[2015-11-05 13:16] 1point618 opened #162 "Repeating ourselves"

[2015-11-05 17:40] 1point618 opened #163 "Git version is out of date"

[2015-11-06 16:28] PeterBell commented on #48
Not relevant any more - killing this.

[2015-11-06 16:28] #48 closed

[2015-11-06 16:28] PeterBell commented on #50
This is pretty old, so closing for now.

[2015-11-06 16:28] #50 closed

[2015-11-06 16:28] PeterBell commented on #51
This is pretty old, so closing for now.

[2015-11-06 16:28] #51 closed

[2015-11-06 16:29] PeterBell commented on #95
This is pretty old, so closing for now.

[2015-11-06 16:29] #95 closed

[2015-11-06 16:29] PeterBell commented on #103
This is pretty old, so closing for now.

[2015-11-06 16:29] #103 closed

[2015-11-06 16:30] PeterBell commented on #156
This has been handled elsewhere and is ready for shipping, so closing down this issue

[2015-11-06 16:30] #156 closed

[2015-11-10 19:53] 1point618 opened #164 "Privacy concerns"
...

[2015-11-10 20:59] 1point618 opened #165 "Add link to wheelhouse course to repo."

[2015-11-10 21:33] 1point618 opened #166 "Add "section summaries""

[2015-11-10 21:33] 1point618 opened #167 "Add more info on GitHub features not covered in the course."

[2015-11-10 21:35] 1point618 opened #168 "Unclear wording about global/system/user settings."

[2015-11-13 03:23] 1point618 opened #169 "Asking users to edit a file we earlier asked them to delete."

[2015-11-15 22:06] 1point618 opened #170 "No activities on git reset"

[2015-11-16 17:57] 1point618 commented on #163
Getting more comments about this

We should probably not include version numbers so that we don't have to constantly keep up with this.

[2015-11-17 15:57] 1point618 opened #171 "Users are not aware that command line steps won't validate."
This is a bit of a UX bug for us, but also one that could be fixed with copy in the curriculum. Tagging @johnpaulashenfelter so he knows it's a problem.

I've had a couple of people reach out saying they couldn't continue on because their command line steps were not being validated.

[2015-11-18 18:07] crichID opened #172 "Typos"
Received feedback from customer:

[2015-11-18 18:16] PeterBell commented on #172
Thanks @crichID - @johnpaulashenfelter could you tweak that in the db and @1point618 could you update the curriculum repo?

[2015-11-18 18:26] 1point618 commented on #172
Fixed.

On Wed, Nov 18, 2015 at 1:16 PM, Peter Bell notifications@github.com
wrote:

[2015-11-18 18:39] PeterBell commented on #172
Thanks @1point618 !

[2015-11-18 19:44] johnpaulashenfelter commented on #172
@1point618 Any chance you can give me a screen number/url? Its complicated to track down otherwise.

[2015-11-18 20:22] 1point618 commented on #172
@crichid can you? I didn't get the initial feedback so I don't have it. On
phone now.

On Wednesday, November 18, 2015, John Paul Ashenfelter <
notifications@github.com> wrote:

##

Sent from my pocket computer's glass keyboard.

[2015-11-21 15:57] 1point618 opened #173 "Atom causes a lot of issues"
The no. 1 help request that I get about the content of the course involves Atom. A number of users are unable to get Atom running on the command line, then get stuck when they try to force git commit messages to open in atom.

@crichID I think we should either include much better instructions on how to use Atom, _or_ give it as an option but use a default system editor like vim in the examples. As

[2015-11-22 19:04] johnpaulashenfelter commented on #173
vim isn't the default on Windows. Honestly not sure what is -- notepad?

[2015-11-22 19:06] 1point618 commented on #173
I'm pretty sure we recommend people use https://git-for-windows.github.io/ which comes with BASH emulator. I assume vim comes with that but maybe not.

[2015-11-22 22:48] PeterBell commented on #173
With the msysgit on Windows, it does include Vi by default, so that's usually what I recommend. Cool using Atom, but there are definitely install issues. Thoughts @crichID ?

[2015-11-23 03:43] crichID commented on #173
@1point618 @PeterBell I suppose we have a few options:
1. Remove the Atom instructions from the config section or more clearly indicate it is optional.
2. Put together a quick help guide on getting Atom set up if they are having problems.
3. Include instructions that if they can't get atom to work they can unset that config option to use the default for their system.

FWIW, if these are Mac users

[2015-11-23 03:46] crichID commented on #144
I'm going to go ahead and close this issue down. We are ok with it as-is for now.

[2015-11-23 03:46] #144 closed

[2015-11-23 03:48] 1point618 commented on #173
I think the issue isn't the "install Atom" instructions, but the fact that all the CLI examples after it assume Atom. That means that if you didn't get it working, and you're new to the CLI, then you're going to be really confused about what to do to continue. I think ideally all the examples should use some sort of default CLI-based text editor, and we can mention after the Atom install instructi

[2015-11-23 12:57] crichID opened #174 "User Deleted Repo"
@johnpaulashenfelter can you please help with the following:

[2015-11-23 16:23] johnpaulashenfelter commented on #174
@crichID done.

[2015-11-23 16:54] crichID commented on #174
@johnpaulashenfelter thank you! Learner has been notified.

[2015-11-23 16:54] #174 closed

[2015-11-28 04:20] 1point618 opened #175 "Pronunciation of "git"."
Sounds like one of our British users is picking up variations in the way that our narrator is saying the word "git". In my dialect of American English at least, the variations are all non-phonemic but are definitely there. This British user, however, hears the variations as different phonemes so keeps hearing our narrator saying "get".

He says: "GET branch"
the correct way to say it should be "GI

[2015-11-28 04:25] crichID commented on #175
@1point618 I sent the user an email and told him they are pronounced essentially the same in US English. I asked him to send me a recording of how he says GIT. However, I am not inclined to re-record and replace these videos based on a difference in dialect!

[2015-11-28 04:25] #175 closed

[2015-11-28 05:25] 1point618 commented on #175
Ah. If you reply on Intercom, it will email them if they're not online. That way we're not getting our wires crossed.

[2015-12-01 00:37] crichID opened #176 "Instruction Inconsistency in Section 7 & 8 - Users on Wrong Branch"
### Feedback from learner:

In "Section 8: Working with Local Files", in the assignment subsection
"Modifying Local Files", you do not mention to do this in the feature
branch (as previously suggested in the videos). Therefore, I think most of
the people will perform this staging and committing in the master branch. I
think so, because in the previous assignment (subsection "Pulling Changes"
in th

[2015-12-01 00:51] 1point618 commented on #176
Great point! This should definitely go on the list of things to change.

[2015-12-02 02:12] crichID opened #177 "YouTube inaccessible from China"
I was just looking through some of the survey results and I saw this response from one learner:

@loranallensmith any advice here?

[2015-12-02 16:06] loranallensmith commented on #177
@crichID This is quite a pickle.  I did some research last night and it looks like both YouTube and Vimeo are blocked at least part, if not all, of the time in mainland China.  I hadn't thought of this when we were choosing a video platform in #70.

I'm wondering if hosting these videos somewhere outside of Wheelhouse and then embedding them as HTML5 videos would be an option.  Not sure about all

[2015-12-02 17:12] matthewmccullough commented on #177
# typed-on-mobile-so-no-cross-links-yet

There was a Halp thread recently where I called in legal review where a Chinese developer asked to host the videos we have on YouTube on his own site so Chinese devs could access them.  We could potentially ask him to host more videos.

[2015-12-03 17:05] PeterBell commented on #177
Going to cc @johnpaulashenfelter - we're happy to have the video hosted anywhere that makes sense to you - just want to make sure he's in the loop so we can assess the engineering effort that might be required.

[2015-12-04 00:07] crichID opened #178 "Request for Video Transcripts"
A customer has requested a transcript of the videos:

either be fully transcribed or actual (not automatic) closed captions added
to the video.

though there is a recap, the video has extra information that is useful for
users.

understood.

video, which would be easier than actually setting up closed caption on the
video and would provide the same service.

FWIW, if we do the transcripts on the v

[2015-12-04 00:14] PeterBell commented on #178
Gong to cc @johnpaulashenfelter and @1point618 I'm certainly open to sharing the copy, but I think we'd just have to think through carefully how it would look. I do agree that we need a solution for the deaf, so having at least the text for the videos available would be useful. Any thoughts on how we might want something like this to work anyone?

[2015-12-04 01:49] crichID commented on #178
@PeterBell a fairly low tech solution would be to add a link to a PDF (but a pain to keep up to date).

The better option would be to use a collapsable panel that would pull the text from the YML files like the instructor script did.

[2015-12-04 03:09] PeterBell commented on #178
Agreed on both accounts @crichID - let's see what @1point618 and @johnpaulashenfelter have to say . . .

[2015-12-04 13:39] loranallensmith commented on #177
@matthewmccullough thanks for the historical reference there.  This might be a viable option since someone has already floated an offer to host them.

Revisiting my earlier recommendation:

If we were to self-host, we'd lose out on some pretty valuable viewership metrics from YouTube.  I believe that was one of the big reasons we went that direction.  I :heart: @crichID's point in #178 that video

[2015-12-04 14:15] johnpaulashenfelter commented on #177
Transcripts were the absolutely most helpful things we did with videos at Treehouse. Not only did it route around video issues, many ESL folks could _read_ the transcript slowly and understand it but not understand the video at all in real-time. I find the same is true for me for Spanish.

We used a third-party video transcription service -- Cielo i think, it's been a while :smile:

Plus once its

[2015-12-04 14:26] johnpaulashenfelter commented on #178
At Treehouse, we used https://cielo24.com/ to transcribe finished videos -- we automated it as part of the production process. Transcriptions were relatively inexpensive as I remember it. I'm sure there are a ton of other options.

I will say "git" particularly was an issue -- also funny technical mis-transcriptions. But it was pretty straightforward. As I recall it took about 48h. We'd usually po

[2015-12-04 14:28] 1point618 commented on #178
I think video transcripts are a good idea generally.

My personal feelings are that we want two different things here:
1. Captioning on the videos. The videos were carefully designed to allow a person to follow along and get relevant information about what's happening on screen while it happens. Neither the video nor the audio/transcript are sufficient for learning.

   Useful for: people who are

[2015-12-04 14:49] 1point618 opened #179 "Make text clearer in section 9"
---

[2015-12-04 18:02] 1point618 commented on #172
@johnpaulashenfelter did we fix this? If so, let's close it.

[2015-12-04 18:27] 1point618 opened #180 "No Validations in the Second Half of the Course"
Hi @crichID and @johnpaulashenfelter.

In the second half of the GHfDevs course, there are no places where we validate work is done. Part of this is due to the fact that students are using the command line. However, there are plenty of spots where we ask the students to push their work to GitHub, where we could validate. They are using a GH Repo that they have created, so we don't have a webhook o

[2015-12-04 18:34] 1point618 commented on #180
Oh and to show my work, Issue #176 is what brought this to my attention. In the video in "merge local branches" we tell the student that a branch merged locally, once pushed, will also close a PR, but we never have the student create or close the PR, a clear case where if we had a webhook in the repo we could validate that the student is on the right track.

[2015-12-04 18:41] 1point618 commented on #169
So we don't actually ask the users to throw away anything during the reset activities, because we don't have a lab during those slides.

My preference would be to add some sort of explicit lab as per #170, and then move the reset activities _after_ the Discard File Changes module referenced in this issue. That way there's no confusion for the students. Does that work @crichID ?

[2015-12-04 19:23] 1point618 opened #182 "git clone question sometimes doesn't validate correctly"
See this:
![](https://uploads.intercomcdn.com/i/o/3126757/d07dfbff0be7ea9fbaff2552/error.png)

I think this is due to the way we handle whitespaces, will edit the regexes to be more forgiving of multiple whitespace characters.

[2015-12-10 02:53] crichID opened #184 "Customer Feedback Received"

[2015-12-10 02:56] 1point618 commented on #184
What is the user's email? I'll try to figure out why we never got the email from them.

[2015-12-10 02:58] crichID commented on #184
@1point618 her email is: adi.srivastava@hotmail.com

[2015-12-10 03:24] 1point618 commented on #184
Thank you!

[2015-12-10 03:54] PeterBell commented on #184
@crichID we're also checking what happened with the email . . .

[2015-12-11 18:47] 1point618 commented on #184
@crichID Just to let you know, we figured out the problem that was causing email not to forward to intercom. We're getting everything from the email now.

[2015-12-11 18:49] 1point618 commented on #180
Hey @johnpaulashenfelter, I'd love to get your feedback on the ideas above.

[2015-12-11 19:54] #172 closed

[2015-12-15 19:19] 1point618 opened #185 "Add end-of-course review content."

[2015-12-17 16:58] #164 closed

[2015-12-17 16:58] #176 closed

[2015-12-17 17:00] #179 closed

[2015-12-17 17:00] #168 closed

[2015-12-17 17:01] #182 closed

[2015-12-17 17:01] #157 closed

[2015-12-17 17:01] #163 closed

[2015-12-17 17:01] #173 closed

[2015-12-17 17:01] #158 closed

[2015-12-17 17:01] #161 closed

[2015-12-17 17:01] #162 closed

[2015-12-17 17:01] #167 closed

[2015-12-17 17:01] #159 closed

[2015-12-19 04:55] crichID opened #187 "Feedback and a Typo"
Received this feedback via one of our employees:

[2015-12-23 04:16] crichID commented on #137
@PeterBell just a friendly ping on this ^^

[2015-12-23 04:20] crichID opened #188 "Updates to Curriculum"
@1point618 @johnpaulashenfelter @PeterBell we have a list of modules we would like to add to the curriculum. As we do, I am wondering if it also makes sense to move towards the article format (especially since we are showing it in the demo course).

I can make the module changes but I am unsure what this will mean from your end since there is no direct import. Can you please advise on the process

[2015-12-23 04:47] crichID opened #189 "Customer Feedback: Needs Improvement"
@1point618 just passing this along. I am not inclined to make any changes based on the feedback here. If you agree, please close this issue after you have reviewed:

This is actually shown in the video so the student is sorta telling on himself that he skipped the videos.

I would guess he deleted the bios subdirectory but was trying to use `git add .` to commit it instead of `git add -A`. Not sur

[2015-12-23 14:51] PeterBell commented on #137
Thanks @crichID - sorry - will get with @johnpaulashenfelter - my bad :(

[2015-12-23 15:34] johnpaulashenfelter commented on #137
@crichID A private repo works fine, but there are a _ton_ of complexity in the user flow. The most common problem would be not having a paid account (thus no private repos). For small accounts we'd be taking a slot they're paying for. And if we just offer the option to make the repo private, we generate support traffic for folks that want it but can't have it because of limits, permissions, or org

[2015-12-23 15:42] crichID commented on #137
@johnpaulashenfelter to clarify I am referring to the actual curriculum repo, not the template repo we create for the students.

[2015-12-23 16:25] 1point618 commented on #137
As long as import works for private repos, I agree that we can make this private no problem.

The big question is that I know that GitHub has promised to keep all of their education _content_ open source. How do we plan on continuing to do that if this particular repo is private, @crichID?

[2015-12-23 16:31] PeterBell commented on #188
Hi @crichID thanks for reaching out - will let @1point618 lead. We may need to cover details in call Jan 4th. Main issues are going to be around how this impacts students who are already in the course and what it means to them when the course changes. Going to re cc @johnpaulashenfelter as we'll need him involved in the discussion!

[2015-12-23 16:34] johnpaulashenfelter commented on #137
@crichID @1point618 Repo importer uses the current user's GItHub token so private shouldn't be an issue.

[2015-12-23 16:47] 1point618 commented on #188
@crichID Let's schedule a call for the new year about this.

Generally, +1 to article format, and I'll coordinate with @johnpaulashenfelter on the technical specifics. Short answer is that we're going to do another import of the course before we begin selling it to enterprises fixing all the problems encountered in the beta test, so it would be great if we could include this in that update. There

[2015-12-23 16:49] 1point618 commented on #189
@crichID I did see this, and completely agree that it's not actionable. There's also the issue that he's using GitHub Desktop instead of the command line, which is just not something that we support.

[2015-12-23 16:49] #189 closed

[2015-12-23 16:55] crichID commented on #137
@1point618 the open source curriculum is separate and displayed on GitHub's training page. I do not want to maintain several different open source curricula. Since this must be it's own repo than I would prefer to direct open source contributions to the training-kit.

[2015-12-23 16:56] PeterBell commented on #137
Cool, so just to be clear, is everyone OK with me making this private? I can do that today if OK @crichID and @1point618

[2015-12-23 17:04] 1point618 commented on #137
:+1:

[2015-12-23 17:34] crichID commented on #137
:+1:

[2015-12-23 18:24] PeterBell commented on #137
It's now private - @crichID @1point618 and @johnpaulashenfelter just ping me if you run into any issues!

[2015-12-25 15:14] PeterBell commented on #137
Oops - just testing the free course. It uses images straight from this repo which didn't show up because the repo was private. I've made the repo public for now again and reopened issue. @crichID I'll get with @johnpaulashenfelter before our call on the 4th to figure out what we need to do to make the repo private and how big a deal it's going to be. Then we can all discuss it that afternoon. cc @

[2015-12-29 15:12] johnpaulashenfelter commented on #137
@PeterBell images will have to be moved as part of the import if we go down this path -- didn't think about that since its "always worked for me" because I've got access to the repo.

Since we're on Heroku this means integrating with Amazon S3 or similar.

[2016-01-08 12:03] rajasiman opened #190 "Created three different repositories automatically"
Hey guys,

I would like to convey my gratitude to you all for this wonderful course. I signed up for this during early access and completed the course an hour ago. I noticed something strange that happened and I'm not sure if it was intended?

I signed up for this on 17 Dec 2015, completed the first section(a new repository, __github-for-developers-7__, was created at this time). I had something e

[2016-01-08 15:58] johnpaulashenfelter commented on #190
@rajasiman Each of those courses is a slightly different version -- we use the events/SOME_URL to differentiate them. In most cases, there's one event per course for free courses but a few of them are in the wild -- earlyaccess and ea to be specific -- for GitHub for Developers. Its also why the repos were created -- one per course/event so we can link webhooks correctly.

The event with the rando

[2016-01-08 15:58] #190 closed

[2016-04-06 13:53] #137 closed

[2016-04-06 14:33] #154 closed

[2016-04-06 14:34] #178 closed

[2016-04-06 14:34] #180 closed

[2016-07-12 00:17] #188 closed

[2018-09-27 03:06] #187 closed

[2018-09-27 03:06] #184 closed

[2018-09-27 03:06] #177 closed

[2018-09-27 03:06] #135 closed

[2018-09-27 03:06] #132 closed

[2018-09-27 03:07] #133 closed

[2018-09-27 03:07] #134 closed